<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/flexslider.css" rel="stylesheet" />
    <link href="~/Content/ticker-style.css" rel="stylesheet" />
    <link href="~/Content/prettyPhoto.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <style type="text/css">
    </style>
</head>
<body class="body">
    <header></header>
    <div class="wrapper">
        <div class="Header-top">
            <div class="right">

                <ul id="js-news" class="js-hidden">
                    @if (ViewBag.ticker != null)
                    {
                        foreach (var item in ViewBag.ticker)
                        {
                            <li class="news-item"><a href="@Url.Action("Product", "Home", new { id=@item.id})">@item.Name </a></li>
                        }
                    }
                    else
                    {

                    }

                </ul>

            </div>
            <div class="left">
                <ul>
                    @if (ViewBag.userloged)
                    {
                       
                          <li><a href="@Url.Action("mail", "Home")">داشبورد   </a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("JoinUs", "Home")">ثبت نام  </a></li>
                        <li><a href="@Url.Action("Index", "Home")">ورود  </a></li>
                    }

                    <li><a href="@Url.Action("Contact", "Home")">ارتباط باما</a></li>
                    <li><a href="@Url.Action("AboutUs", "Home")">درباره ما</a></li>

                </ul>
            </div>
        </div>
        <div class="Header">
            <div class="Header-midel">
                <div class="left logo">
                    <img src="~/Content/image/bazarchelogo.png" />
                </div>
                <div class="right">

                    <a href="@Url.Action("MyCard", "Home")" title="سبد خرید ">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>

                    </a>
                    @if (ViewBag.userloged)
                    {
                        <a href="@Url.Action("LogOut","Home")"><span class="hidden-xs"><i class="fa fa-sign-out" aria-hidden="true"></i></span></a>

                    }

                </div>
            </div>
            <nav>
                <ul>
                    <li class=""><a href="@Url.Action("Index", "Home")">صفحه اصلی</a></li>
                    <li><a href="@Url.Action("Companies", "Home")">شرکت ها</a></li>
                    <li><a href="@Url.Action("Newses", "Home")">اخبار</a></li>
                    <li><a href="@Url.Action("Groups", "Home", new { groups = "لپ تاپ" })">لپ تاپ</a></li>
                    <li><a href="@Url.Action("Groups", "Home", new { groups = "موبایل" })"> موبایل </a></li>
                    <li><a href="@Url.Action("Products", "Home")"> همه محصولات </a></li>

                    <li id="search " class="search">
                        <div>
                            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <input id="" name="searchString" type="text" />
                                <input type="submit" value=" " /><i class="fa fa-search" aria-hidden="true"></i>
                            }

                        </div>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="main">

            @RenderBody()

        </div>
        <footer>
            <div class="footer-box footer-first">
                <h2>دسته بندی ها</h2>
                <ul>
                    <li class=""><a href="#">کامپیوتر</a></li>
                    <li><a href="#">موبایل</a></li>
                    <li><a href="#">لپ تاپ</a></li>
                    <li><a href="#">تجهیزات ورزشی</a></li>
                    <li><a href="#"> مصالح ساختمان </a></li>

                </ul>
            </div>
            <div class="footer-box">
                <h2> تولید کنندگان برتر</h2>
                <ul>
                    <li><a href="#">شرکت الف</a></li>
                    <li><a href="#">شرکت ب</a></li>
                    <li><a href="#">شرکت ج</a></li>
                </ul>
            </div>
            <div class="footer-box">
                <h2>قواین</h2>
                <ul>
                    <li><a href="#">قوانین عضویت به عنوان مشتری </a></li>
                    <li><a href="#"> قوانین عضویت شرکت ها</a></li>

                </ul>
            </div>
            <div class="footer-box">
                <h2>آمار بازدید ها</h2>
                <ul>
                    <li>افراد انلاین: </li>
                    <li> بازدید امروز: </li>
                    <li>بازدید کل: </li>
                </ul>


            </div>
            <div class="boxed">
                <p>
                    تمامی حوقاین سایت برای گروه محفوظ است
                </p>
                <div class="Social">


                    <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>


                    <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>


                    <a href="#"><i class="fa fa-rss-square" aria-hidden="true"></i></a>


                </div>
            </div>
        </footer>
    </div>

</body>
</html>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.ticker.js"></script>
<script src="~/Scripts/jquery.flexslider.js"></script>
<script src="~/Scripts/Tab.js"></script>
<script>
    $(window).load(function () {
        $('#slide').flexslider({
            animation: "slide"
        });
        $('#slide1').flexslider({
            animation: "slide"
        });
    });

</script>
<script>
    $(window).load(function () {
        $('#Best-pic').flexslider({
            animation: "slide",
            animationLoop: true,
            controlNav: false,
            itemWidth: 300,
            itemMargin: 5
        });
    });
</script>
<script>
    $(window).load(function () {
        $('#Comoditty').flexslider({
            animation: "slide",
            controlNav: "thumbnails",
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#js-news').ticker({
            direction: "rtl",
            titleText: " تخفیف ویژه روز  "
        });
    });
</script>

<script src="~/Scripts/jquery.prettyPhoto.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

        $("a[rel^='prettyPhoto']").prettyPhoto({

            markup: '<div class="pp_pic_holder"> \
						<div class="ppt">&nbsp;</div> \
						<div class="pp_top"> \
							<div class="pp_left"></div> \
							<div class="pp_middle"></div> \
							<div class="pp_right"></div> \
						</div> \
						<div class="pp_content_container"> \
							<div class="pp_left"> \
							<div class="pp_right"> \
								<div class="pp_content"> \
									<div class="pp_loaderIcon"></div> \
									<div class="pp_fade"> \
										<a href="#" class="pp_expand" title="Expand the image"></a> \
										<div class="pp_hoverContainer"> \
											<a class="pp_next" href="#">next</a> \
											<a class="pp_previous" href="#">previous</a> \
										</div> \
										<div id="pp_full_res"></div> \
										<div class="pp_details"> \
											<div class="pp_nav"> \
												<a href="#" class="pp_arrow_previous"></a> \
												<p class="currentTextHolder">0/0</p> \
												<a href="#" class="pp_arrow_next"></a> \
											</div> \
											<p class="pp_description"></p> \
											{pp_social} \
											<a class="pp_close" href="#"></a> \
										</div> \
									</div> \
								</div> \
							</div> \
							</div> \
						</div> \
						<div class="pp_bottom"> \
							<div class="pp_left"></div> \
							<div class="pp_middle"></div> \
							<div class="pp_right"></div> \
						</div> \
					</div> \
					<div class="pp_overlay"></div>',
            gallery_markup: '<div class="pp_gallery"> \
								<a href="#" class="pp_arrow_previous"></a> \
								<div> \
									<ul> \
										{gallery} \
									</ul> \
								</div> \
								<a href="#" class="pp_arrow_next"></a> \
							</div>',
            image_markup: '<img id="fullResImage" src="{path}" />',
            flash_markup: '<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="{width}" height="{height}"><param name="wmode" value="{wmode}" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="{path}" /><embed src="{path}" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="{width}" height="{height}" wmode="{wmode}"></embed></object>',
            quicktime_markup: '<object classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab" height="{height}" width="{width}"><param name="src" value="{path}"><param name="autoplay" value="{autoplay}"><param name="type" value="video/quicktime"><embed src="{path}" height="{height}" width="{width}" autoplay="{autoplay}" type="video/quicktime" pluginspage="http://www.apple.com/quicktime/download/"></embed></object>',
            iframe_markup: '<iframe src ="{path}" width="{width}" height="{height}" frameborder="no"></iframe>',
            inline_markup: '<div class="pp_inline">{content}</div>',
            custom_markup: '',
            social_tools: ''

        });
    });
</script>